
body {
  font-size: 100%;
  width: 95%;
  margin: 0 auto;
  }

header, footer {
  width: 95%;
  background-color: lightblue;
  margin-bottom: 0.5rem;
  padding: 1%;
}

.clearfix, footer:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#logo {
  display: inline;
  width: 5%;
}

header h1 {
 display: inline;
}

img {
  max-width: 100%;
}

aside {
  width: 15%;
  padding: 0.625rem; 
  float: left;
}

section {
  width: 80%;
  padding: 1rem;
  float: right;
  border-left: 1px solid black;
}

.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 0.25rem;
}

.item {
  width:30%;
  padding: 2px;
}

.item figcaption {
  font-weight: bold;
}

.item figure {
  padding-bottom: 2px;
}

.footer-col {
  float: left;
  max-width: 24%;
  padding: 0.5rem;
}

.footer-col-social {
  float: left;
  max-width: 24%;
  padding: 0.5rem;
  padding-left: 5%;
}

footer h3 {
  font-weight: bold;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
