
body {
  font-size: 100%;
  width: 95%;
  margin: 0 auto;
  }

header {
  width: 95%;
  background-color: lightblue;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#logo {
  display: inline;
  padding-left: 1%;
  padding-right: 1%;
}

header h1 {
 display: inline;
}

.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 0.25rem;
}

img {
  max-width: 100%;
}

aside {
  width: 15%;
  padding: 0.625rem; 
  float: left;

}

section {
  width: 80%;
  padding: 1rem;
  float: right;
  border-left: 1px solid black;
  }

.item {
  width:30%;
}
